@import "../assets/scc/clients.css";
@import "../assets/scc/footer.css";
@import "../assets/scc/learn-more-section.css";
@import "../assets/scc/header.css";
@font-face {
    font-family: "Rubik-Regular";
    src: url("../assets/Fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
    font-family: "DM Serif Display";
    src: url("../assets/Fonts/DM Serif Display/DMSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: "Rubik-Bold";
    src: url("../assets/Fonts/Rubik/Rubik-SemiBold.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../assets/Fonts/Roboto/Roboto-Bold.ttf");
}