.About{
    padding: 115px 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.About > img{
    float: right;
}
.US{
    display: flex;
    width: 166px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #EE4D47;
    font-family: "Rubik-Regular" , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2.4px;
}
.about-p{
    margin-top: 40px;
    width: 50%;
    height: auto;
    flex-shrink: 0;

    color:#402B2B;
    font-family: "Rubik-Regular" , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}
.about-bot {
    display: flex;
    color: #402B2B;
    font-family: "Rubik-SemiBold", Rubik-Bold , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-top: 70px;
    width: 80%;
    height:auto;
    flex-shrink: 0;
    border-left: #ED4D47 solid 10px;
    background-color: #FCDDD4;
    padding: 30px 50px;
}

.apply{
    display: flex;
    justify-content: space-between;

    padding-left: 150px;
}

.apply-info > h2{
    display: flex;
    width: 260px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #EE4D47;
    font-family: "Rubik-Regular" , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-top: 130px;
}
.apply-img{
}
.apply-text {
    margin-top: 40px;
    padding-left: 60px;
    width: 50%;
    height: auto;
    color: #402B2B;
    font-family: "Rubik-Regular" , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}
.apply-info{
    margin-left: 125px;
    overflow: hidden;
}